<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="index-title">Listing all articles</h1>
  </div>
</div>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>
