<div class="jumbotron center">
   <h1>ALPHA-BLOG</h1>
   <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg" %>
</div>
<!--<header>-->
<!--  <img src="http://cdn.wallpapersafari.com/11/52/O3Mef2.jpg" alt="">-->
<!--   <h1 id="welcome"> Welcome to JM WebDesigns</h1>    -->
<!--</header>-->

<!--<main>-->
<!--   <section id="s1">-->
<!--      <h2>Section Header 1</h2>-->
<!--      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>       -->
<!--   </section>-->
<!--   <section id="s2">-->
<!--      <h2> Section Header 2</h2>-->
<!--      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>       -->
<!--   </section>    -->
<!--</main>-->

<!--<footer>-->
<!--   <h2>Follow us</h2>   -->
<!--   <a class="social-media" href=""><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>-->
<!--   <a class="social-media" href=""><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>-->
<!--   <a class="social-media" href=""><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>       -->
<!--</footer>-->

