<section class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Jet Martin WebDesigns</a>
      </br>
      By <a href="#">Jet Martin</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
  
</section>